<template>
  <div class="home">
    <div class="container text-center">
      <h1>Home page</h1>
      <TaskForm />
      <TaskList />
    </div>
  </div>
</template>

<script setup>
import { defineAsyncComponent } from 'vue'
const TaskForm = defineAsyncComponent(() => import('./components/TaskForm/TaskForm.vue'))
const TaskList = defineAsyncComponent(() => import('./components/TaskList/TaskList.vue'))
</script>