<script setup>
import { ref } from 'vue'
import { useTaskStore } from '../../../../renderer/stores/task'
const taskStore = useTaskStore();

const taskForm = ref({
  taskId: 0,
  taskName: '',
  taskDescription: '',
  localError: ''
});

const editedTask = ref(null)

const deleteTask = (taskId) => taskStore.deleteTask(taskId)

const editTask = (item) => {
  editedTask.value = item
  taskForm.value.taskId = item.id
  taskForm.value.taskName = item.name
  taskForm.value.taskDescription = item.description
}

const updateTask = () => {
  taskForm.value.localError = ''
  if(!taskForm.value.taskName || !taskForm.value.taskDescription) {
    taskForm.value.localError = 'Form validation failed'
  } else {
    taskStore.updateTask(taskForm.value);
    taskForm.value.localError = ''
    hideEditForm()
  }
}

const hideEditForm = () => {
  editedTask.value = null 
  taskForm.value = { taskId: 0, taskName: '', taskDescription: '', localError: '' }
}
</script>

<template>
  <div class="sector sector--wide">
    <h2 class="form__title mb-3">Task list <span>({{taskStore.getTaskList.length}})</span></h2>
    <div v-if="taskStore.getTaskList">
      <div v-for="item in taskStore.getTaskList" :key="item.id" class="task">
        <div v-if="item !== editedTask">
          <h2 class="task__name">{{ item.name }}</h2>
          <p class="task__description">{{ item.description }}</p>
          <button @click.prevent="editTask(item)" type="button" class="btn btn-warning me-2">Edit</button>
          <button @click.prevent="deleteTask(item.id)" class="btn btn-danger" type="button">Delete</button>
        </div>
        <form v-else @submit.prevent="updateTask" class="form">
          <div>
            <p v-if="taskForm.localError" class="form__error mb-2">
              {{ taskForm.localError }}
            </p>
          </div>
          <div class="form__element">
            <label for="taskName" class="form__label">Task name</label>
            <input
              id="taskName"
              class="form__input form-control"
              type="text"
              placeholder="Enter task name"
              v-model.trim="taskForm.taskName"
              autocomplete="off"
            />
          </div>
          <div class="form__element">
            <label for="taskDescription" class="form__label">Task description</label>
            <textarea
              id="taskDescription"
              class="form__input form__input--textarea form-control"
              type="text"
              placeholder="Enter task description"
              v-model.trim="taskForm.taskDescription"
              autocomplete="off"
            />
          </div>
          <button @click.prevent="hideEditForm" type="button" class="btn btn-warning me-2">Cancel</button>
          <button @click.prevent="updateTask" type="button" class="btn btn-success me-2">Update</button>
        </form>
      </div>
    </div>
  </div>
</template>
