<script setup>
import { ref } from 'vue'
import { useTaskStore } from '../../../../renderer/stores/task'

const taskStore = useTaskStore();

const taskForm = ref({
  taskName: '',
  taskDescription: '',
  localError: ''
});

const addTask = () => {
  taskForm.value.localError = ''
  if(!taskForm.value.taskName || !taskForm.value.taskDescription) {
    taskForm.value.localError = 'Form validation failed'
  } else {
    taskStore.addTask(taskForm.value);
    taskForm.value.localError = ''
  }
}

const resetForm = () => {
  taskForm.value = { taskName: '', taskDescription: '', localError: '' }
  taskStore.$patch({ feedback: false })
}
</script>

<template>
  <div class="sector sector--wide">
    <div v-if="taskStore.getFeedback">
      <h2 class="form__title">Task has been successfully created</h2>
      <div class="text-center mt-4">
        <button @click.prevent="resetForm" class="btn btn-success" type="button">Create a new task</button>
      </div>
    </div>
    <form v-else @submit.prevent="addTask" class="form">
      <h1 class="mb-4">Task Manager</h1>
      <div>
        <p v-if="taskForm.localError" class="form__error mb-2">
          {{ taskForm.localError }}
        </p>
      </div>
      <div class="form__element">
        <label for="taskName" class="form__label">Task name</label>
        <input
          id="taskName"
          class="form__input form-control"
          type="text"
          placeholder="Enter task name"
          v-model.trim="taskForm.taskName"
          autocomplete="off"
        />
      </div>
      <div class="form__element">
        <label for="taskDescription" class="form__label">Task description</label>
        <textarea
          id="taskDescription"
          class="form__input form__input--textarea form-control"
          type="text"
          placeholder="Enter task description"
          v-model.trim="taskForm.taskDescription"
          autocomplete="off"
        />
      </div>
      <button @click.prevent="addTask" class="btn form__submit" type="submit">Submit</button>
    </form>
  </div>
</template>
