<template>
  <div class="layout">
    <header class="text-center mb-3 mt-4">
      <img src="./logo.svg" height="64" width="64" alt="logo" /><br><br>
      <a href="/">Home page</a>
      <a href="/counter">Counter page</a>
      <a href="/about">About page</a>
    </header>
    <main class="text-center">
      <div class="content"><slot /></div>
    </main>
  </div>
</template>

<script setup></script>